.payments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.payments__title {
  padding: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  width: auto;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
}

.payments__list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.payments__item {
  list-style: none;
  padding: 10px;
}

.payments__item>img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.payments__item>p {
  font-family: Arial;
  align-items: center;
  color: #0f0;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .payments__title {
    font-size: 1.5rem;
  }

  .payments__item {
    padding: 1px;
  }

  .payments__item>p {
    font-size: 12px;
    padding-left: 4px;
  }
}