.service {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(255, 255, 255, 0.25);
  opacity: 0;
  transform: scale(50%);
  transition: 0.5s;
}

.service--zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}

.service__video {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 7px;
}

.service__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.service__title {
  font-size: 2rem;
  padding-bottom: 20px;
}

.service__subtitle {
  text-align: start;
}

@media screen and (max-width: 767px) {
  .service {
    flex-direction: column;
    width: 90%;
    background-color: rgba(236, 236, 236, 0.8);
  }

  .service__video {
    width: 100%;
    height: 200px;
    border-radius: 0;
  }

  .service__title {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .service {
    flex-direction: column;
    width: 70%;
  }

  .service__video {
    width: 100%;
    height: 200px;
    border-radius: 0;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
  .service {
    width: 80%;
  }
}